books{color:purple;background-color:orange;width:100%}

headind{
color:green;
font-size:40px:
background-color:pink;
}

heading,title,author,publisher{
display:block;
}

title{
font-size:25px;font-weight:bold；
}
